body {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-color: #323335;
      }

      .code {
          background-color: #3f4042;
          border-radius: 10px;
          padding: 10px;
      }

      main {
        flex: 1 0 auto;
      }

      .navigation {
        overflow: hidden;
        background-color: #232426;
      }

      .navigation a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      .dd {
        float: left;
        overflow: hidden;
      }

      .dd .ddbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }

      .navigation a:hover,
      .dd:hover .ddbtn {
        color: #ff5e5e;
      }

      .dd-content {
        display: none;
        position: absolute;
        background-color: #09090a;
        opacity: 0.97;
        border-radius: 6px;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }

      .dd-content a {
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }

      .dd:hover .dd-content {
        display: block;
      }

      .footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #232426;
        color: white;
        text-align: center;
      }
      .footer a {
          color: #ff5e5e;
      }
      .footer a:hover {
          color: white;
      }
      .footer a:visited {
          color: #ff5e5e;
      }